<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{this.name}}
        <i class="fa fa-coffee"></i>
    </li>
  </ol>
</nav>

<div class="row row-flex" style="height: 100%">
        <div class="h-100 col-8">  
            <app-map></app-map>
          </div>
        <div class="col" >
            <div class="card text-white bg-dark mb-3 d-flex">
                <div class="card-body">
                  <h6 class="card-title">Food Places:</h6>
        </div>  
      </div> 
      <div class = "card-deck alert alert-light scroll d-flex w-100">
        <ul class="list-group">
        <blockquote class="twitter-tweet" *ngFor="let el of foodData"
        (mouseenter) ="mouseEnter(el)" (click) = "mouseClick(el)"
        >
        <h5>{{el.name}} </h5>
        <progress role="progressbar" class="progress-bar bg-warning" value="{{el.rating}}" max="5">
          </progress>
          <br>
          <h6>Rating: <span class="badge badge-secondary">{{(100/5)*el.rating}}/100</span></h6>
          <span *ngFor="let tag of el.type" class="badge badge-pill badge-danger">{{tag}}</span>
        </blockquote>
        </ul>
      </div>
  </div>
