<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{this.name}}
    <i class="fa fa-instagram"></i>
    </li>
  </ol>
</nav>

<div class="row row-flex" style="height: 100%">
        <div class="h-100 col-8">  
            <app-map></app-map>
          </div>
          <div class="col" >
              <div class="card text-white bg-dark mb-3 d-flex">
                  <div class="card-body">
                    <h6 class="card-title">Instagram-Feed:</h6>
          </div>  
        </div> 
      <div class = "scroll alert alert-light">
          <div *ngFor="let el of instaData" 
          class="card" style="width: 100%;"
          (mouseenter)="mouseOver(el)"
          >
            <img class="card-img-top" src={{el.imageURL}} alt="Card image cap">
            <div class="card-body">
                <span class="badge badge-pill badge-dark">{{el.name}}</span>
            </div>
          </div>
        </div>
      </div>
  </div>
