<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <nav class="navbar fixed-top navbar-light bg-light flex-md-nowrap p-2 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#"> search </a>
      </li>
    </ul>
  </nav>
  <div id="wrapper">
      <ul class="sidebar navbar-nav">
          <div class="icon-bar sidebar-sticky" style="height: 100%">
              <a href="" class="nav-link" routerLinkActive="active" ><i class="fa fa-home"></i></a> 
              <a href="/instagram" class="nav-link" routerLinkActive="active"><i class="fa fa-instagram"></i></a> 
              <a href ="/twitter" class="nav-link" ><i class="fa fa-twitter"></i></a>
              <a href="/food"><i class="fa fa-coffee"></i></a>
              <a href="#"><i class="fa fa-search"></i></a>
              <a href="#"><i class="fa fa-tripadvisor"></i></a> 
              
              <a><i class="fa fa-wpexplorer"></i> </a>
            </div>
        </ul>
      
    <div id="content-wrapper">
        <router-outlet></router-outlet>       
</div>
  