<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{this.name}}
        <i class="fa fa-twitter"></i>
    </li>
  </ol>
</nav>


<div class="row row-flex" style="height: 100%">
        <div class="h-100 col-8">  
            <app-map></app-map>
          </div>
          
        <div class="col" >
            <div class="card text-white bg-dark mb-3 d-flex">
                <div class="card-body">
                  <h6 class="card-title">Tweet-Feed:</h6>
        </div>  
      </div> 
      <div class = "card-deck alert alert-light scroll">
          <ul class="list-group">
          <blockquote class="twitter-tweet" *ngFor="let el of twitterData" >{{el.text}}
          <br>
          <span class="badge badge-info">{{el.name}}</span>
          </blockquote>
          </ul>
          </div>
      </div>
  </div>






  