<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home
    <i class="fa fa-home"></i>
    </li>
  </ol>
</nav>

<div class="row row-flex" style="height: 100%">
        <div class="h-100 col-8">  
            <app-map></app-map>
          </div>
        <div class="col" >
            
      <div class = "main-section">
        <app-instagramm></app-instagramm>
        <app-twitter></app-twitter>
        <app-food></app-food>
        <app-to-do></app-to-do>
        <app-tripadvisor></app-tripadvisor>
        <app-airbnb></app-airbnb>
        </div>
      </div>
  </div>





