<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home
    <i class="fa fa-home"></i>
    </li>
  </ol>
</nav>

<div class="row row-flex" style="height: 100%">
        <div class="h-100 col-8">  
            <app-map></app-map>
          </div>
        <div class="col" >
            <div class="card text-white bg-dark mb-3 d-flex">
                <div class="card-body">
                  <h5 class="card-title"> Map controls</h5>
                  <br>
                  <button class = "btn  btn-danger"> remove all</button>
        </div>
      </div>
      <div class = "card-deck alert alert-light">
        <app-instagramm></app-instagramm>
        <app-twitter></app-twitter>
        <app-food></app-food>
        <app-to-do></app-to-do>
        <app-tripadvisor></app-tripadvisor>
        <app-airbnb></app-airbnb>
        </div>
      </div>
  </div>





